* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card .imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 1s;
  background: #000;
  border-radius: 5px;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}

.card .imgbox img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
}

.card .imgbox img:nth-child(2) {
  transform: rotateY(180deg);
}

.card:hover {
  transform: translateX(170%);
}

.card:hover .imgbox {
  transform: rotateY(-180deg);
}

.content h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.profession {
  display: block;
  font-size: 1.2rem;
  color: rgb(246, 109, 109);
  margin-top: 0.5rem;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_icons a {
  background-color: #333;
  color: whitesmoke;
  padding: 5px 7px;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 4px;
  transition: color 0.5s, background-color 0.2s;
}

.social_icons a:hover {
  color: rgb(246, 109, 109);
  background-color: whitesmoke;
}

.card {
  position: relative;
  transition: 1s;
  width: 350px;
  height: 400px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 1;
}

.card .details {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (max-width: 720px) {
  .card {
    width: 45%;
    height: 350px;
  }
  .card:hover {
    transform: translateX(40%);
  }
  .card .details {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 104, 170);
  }
  .content h2 {
    text-align: center;
    font-size: 1.4rem;
    color: white;
  }

  .profession {
    display: block;
    font-size: 1.2rem;
    color: rgb(246, 109, 109);
    margin-top: 0.5rem;
  }
}
@media (max-width: 420px) {
  .card {
    width: 50%;
    height: 250px;
  }
  .card:hover {
    transform: translateX(50%);
  }
  .card .details {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 104, 170);
  }
  .content h2 {
    text-align: center;
    font-size: 1.1rem;
    color: white;
  }

  .profession {
    display: block;
    font-size: 1.2rem;
    color: rgb(246, 109, 109);
    margin-top: 0.5rem;
  }
}

/* @media (max-width: 40em) {
  .card {
    width: 200px;
    height: 250px;
  }

  h2 {
    font-size: 1rem;
  }
  .profession {
    font-size: 0.7rem;
    margin-top: 0.5rem;
  }
} */
