body {
  margin: 0;
  padding: 0;
}
.outer_box {
  border: 0px solid red;
  top: 0;
  position: fixed;
  width: 104%;
  z-index: 100;
  margin-left: -2%;
}
.outer_box_active {
  border: 0px solid rgb(0, 213, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  top: 0;
  position: fixed;
  width: 104%;
  z-index: 100;
  margin-left: -2%;
}

.main_box {
  border: 0px solid red;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 80%;
}
.content_box {
  border: 0px solid blue;
  width: 40%;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-evenly;
  margin-right: 2px;
}
.resume_btn1 {
  border: 1px solid black;
  font-size: 18px;
  font-weight: 450;
}

@media (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
  }
  .outer_box {
    border: 0px solid red;
    top: 0;
    position: fixed;
    width: 105%;
    z-index: 100;
    margin-left: -3%;
  }
  .outer_box_active {
    border: 0px solid rgb(0, 213, 255);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    top: 0;
    position: fixed;
    width: 107%;
    z-index: 100;
    margin-left: -3%;
  }
}
@media (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }
  .outer_box {
    border: 0px solid red;
    top: 0;
    position: fixed;
    width: 105%;
    z-index: 100;
    margin-left: -3%;
  }
  .outer_box_active {
    border: 0px solid rgb(0, 213, 255);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    top: 0;
    position: fixed;
    width: 107%;
    z-index: 100;
    margin-left: -3%;
  }
}
