.outer_box {
  border: 0px solid red;
  width: 70%;
  margin: auto;
  margin-top: 3%;
}
.main_heading {
  border: 0px solid blue;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2%;
}

.project {
  display: flex;
  justify-content: space-between;
  border: 0px solid blue;
}

/* img left description right */
.project_img_box {
  border: 0px solid black;
  padding: 10px;
  width: 50%;
  padding-bottom: 6%;
  margin-top: 2%;
}
.project_img_box img {
  width: 100%;
}
.project_description_box {
  border: 0px solid rgb(0, 255, 98);
  text-align: center;
  width: 48%;
  margin-top: 2%;
}
.project_description_box h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 3%;
}
.project_techStack {
  border: 0px solid red;
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1%;
}
.project_techStack_6 {
  border: 0px solid red;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1%;
}
.project_description {
  text-align: justify;
  border: 0px solid blueviolet;
  margin-bottom: 3%;
  margin-top: 8%;
}
.project_button_box button {
  display: inline-block;
  margin: 10px 5px;
  padding: 5px;
  color: #1488cc;
  background-color: transparent;
  border: 1px solid #1488cc;
  border-radius: 10px;
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}

@media (max-width: 720px) {
  .outer_box {
    border: 0px solid red;
    width: 70%;
    margin: auto;
    margin-top: 3%;
  }
  .main_heading {
    border: 0px solid blue;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
  }

  .project {
    display: grid;
    border: 0px solid blue;
    margin-bottom: 3%;
  }

  /* img left description right */
  .project_img_box {
    border: 0px solid black;
    padding: 10px;
    padding-bottom: 6%;
    margin-top: 2%;
    width: 90%;
    margin: auto;
  }
  .project_img_box img {
    width: 100%;
  }
  .project_description_box {
    border: 0px solid rgb(0, 255, 98);
    text-align: center;
    margin-top: 2%;
    width: 90%;
    margin: auto;
  }
  .project_description_box h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  .project_techStack {
    border: 0px solid red;
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .project_techStack_6 {
    border: 0px solid red;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .project_description {
    text-align: justify;
    border: 0px solid blueviolet;
    margin-bottom: 2%;
    margin-top: 4%;
  }
  .project_button_box button {
    display: inline-block;
    margin: 10px 5px;
    padding: 5px;
    color: #1488cc;
    background-color: transparent;
    border: 1px solid #1488cc;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-out, background-color 0.3s ease-out,
      border-color 0.3s ease-out;
  }
}
